vti_encoding:SR|utf8-nl
vti_author:SR|ZHANGDI\\ZD
vti_modifiedby:SR|ZHANGDI\\ZD
vti_timelastmodified:TR|18 Apr 2017 06:30:14 -0000
vti_timecreated:TR|07 Apr 2017 05:53:21 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|05\\ 专家详细页.htm 01\\ 情报系统.htm 02\\ 详细页.htm default.htm 03\\ 知识中心-专题数据库.htm 04\\ 专家团队.htm
vti_nexttolasttimemodified:TW|18 Apr 2017 06:30:04 -0000
vti_cacheddtm:TX|18 Apr 2017 06:30:14 -0000
vti_filesize:IR|17123
vti_cachedlinkinfo:VX|S|../images/logo.png S|../images/topall_login.png S|../images/topall_arrow.png S|../images/select_ico.gif S|../images/topNav_back1.png S|../images/topNav_back2.png S|../images/title1_line.gif S|../images/ico_1.gif S|../images/photo_back.jpg S|../images/photo_back.jpg
vti_cachedsvcrellinks:VX|FSUS|images/logo.png FSUS|images/topall_login.png FSUS|images/topall_arrow.png FSUS|images/select_ico.gif FSUS|images/topNav_back1.png FSUS|images/topNav_back2.png FSUS|images/title1_line.gif FSUS|images/ico_1.gif FSUS|images/photo_back.jpg FSUS|images/photo_back.jpg
