@CHARSET "UTF-8";
  body {background: #ffffff center 230px;}  
  #div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color: #0b85ff; font-weight:bold; text-decoration:none; padding: 3px 6px; }  
  #div1 .blue {color:blue;}  
  #div1 .red {color:red;}  
  #div1 .yellow {color:yellow;}  
  #div1 a {position:absolute; top:0px; left:0px; font-family: Microsoft YaHei; color: #0b85ff; font-weight:bold; text-decoration:none; padding: 3px 6px; }  
  #div1 .blue {color:blue;}  
  #div1 .red {color:red;}  
  #div1 .yellow {color:yellow;}  